*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.home-button {
    margin: 10px 30px;
    margin-right: 10px;
    font-family: 'Noto Sans', sans-serif;
    color: #ADADAD;
    font-size: 20px;
    display: inline-block;
}

.pk-name{
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    color: #C32826;
    font-size: 20px;
    text-transform: capitalize;
}

.p-container {
    margin: 20px 15%
}


.img-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px;
    padding: 0 100px;
}

.pk.img-col{
    flex: 1;
}

.pk-img{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.types{
    display:flex
}

.type-text{
    padding: 4% 4%;
    color: white;
    border-radius: 10px;
}

